In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import *

In [2]:
data = pd.read_csv('us-counties.csv', encoding='utf-8', delimiter = ',')

In [3]:
data.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

### Column Definitions
__county__: name of county


__state__ : specific state


__fips__  : a specific code for counties, this may vary for metro areas


__cases__ : number of cases


__deaths__: total deaths due to COVID-19

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35698 entries, 0 to 35697
Data columns (total 6 columns):
date      35698 non-null object
county    35698 non-null object
state     35698 non-null object
fips      35180 non-null float64
cases     35698 non-null int64
deaths    35698 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.6+ MB

In [19]:
data.county.value_counts()

Washington            474
Jefferson             352
Franklin              314
Jackson               287
Montgomery            284
Lincoln               257
Madison               234
Douglas               212
Monroe                204
Orange                194
Marion                184
Union                 181
Clark                 170
Fayette               165
Carroll               164
Greene                161
Lee                   158
Johnson               157
Wayne                 155
Warren                155
Adams                 150
Polk                  140
Clay                  139
Columbia              132
Cumberland            129
Benton                125
Grant                 125
Scott                 123
Harrison              118
Shelby                118
                     ...
Ouray                   2
Shawano                 2
Kingsbury               2
Petersburg Borough      2
Mills                   2
Jewell                  2
McLeod                  2
Beaverhead              2
Wahkiakum               2
Tillman                 2
Manitowoc               2
Wabaunsee               1
Emmons                  1
Yell                    1
Pender                  1
Bronx                   1
Presque Isle            1
Greenup                 1
Benzie                  1
Sherman                 1
Ontonagon               1
Letcher                 1
Pipestone               1
Seward                  1
Leslie                  1
Queens                  1
Geary                   1
Phelps                  1
Republic                1
Washita                 1
Name: county, Length: 1509, dtype: int64

In [21]:
data[data.county=='Jefferson']

            date     county          state     fips  cases  deaths
549   2020-03-05  Jefferson       Colorado   8059.0      1       0
603   2020-03-06  Jefferson       Colorado   8059.0      1       0
648   2020-03-06  Jefferson     Washington  53031.0      1       0
681   2020-03-07  Jefferson       Colorado   8059.0      1       0
742   2020-03-07  Jefferson     Washington  53031.0      1       0
776   2020-03-08  Jefferson       Colorado   8059.0      1       0
800   2020-03-08  Jefferson       Kentucky  21111.0      1       0
854   2020-03-08  Jefferson     Washington  53031.0      1       0
892   2020-03-09  Jefferson       Colorado   8059.0      1       0
922   2020-03-09  Jefferson       Kentucky  21111.0      1       0
923   2020-03-09  Jefferson      Louisiana  22051.0      1       0
985   2020-03-09  Jefferson     Washington  53031.0      1       0
1027  2020-03-10  Jefferson       Colorado   8059.0      2       0
1067  2020-03-10  Jefferson       Kentucky  21111.0      1       0
1068  2020-03-10  Jefferson      Louisiana  22051.0      1       0
1148  2020-03-10  Jefferson     Washington  53031.0      1       0
1163  2020-03-11  Jefferson       Arkansas   5069.0      1       0
1194  2020-03-11  Jefferson       Colorado   8059.0      4       0
1245  2020-03-11  Jefferson       Kentucky  21111.0      1       0
1247  2020-03-11  Jefferson      Louisiana  22051.0      1       0
1348  2020-03-11  Jefferson     Washington  53031.0      1       0
1368  2020-03-12  Jefferson       Arkansas   5069.0      1       0
1402  2020-03-12  Jefferson       Colorado   8059.0      5       0
1461  2020-03-12  Jefferson       Kentucky  21111.0      2       0
1464  2020-03-12  Jefferson      Louisiana  22051.0      1       0
1602  2020-03-12  Jefferson     Washington  53031.0      1       0
1620  2020-03-13  Jefferson        Alabama   1073.0      2       0
1628  2020-03-13  Jefferson       Arkansas   5069.0      1       0
1664  2020-03-13  Jefferson       Colorado   8059.0      7       0
1734  2020-03-13  Jefferson       Kentucky  21111.0      2       0
...          ...        ...            ...      ...    ...     ...
32079 2020-04-04  Jefferson       Missouri  29099.0     69       1
32131 2020-04-04  Jefferson        Montana  30043.0      2       0
32263 2020-04-04  Jefferson       New York  36045.0     20       0
32454 2020-04-04  Jefferson           Ohio  39081.0     14       0
32766 2020-04-04  Jefferson      Tennessee  47089.0      6       0
32885 2020-04-04  Jefferson          Texas  48245.0     40       2
33126 2020-04-04  Jefferson     Washington  53031.0     20       0
33157 2020-04-04  Jefferson  West Virginia  54037.0     17       0
33203 2020-04-04  Jefferson      Wisconsin  55055.0     13       0
33289 2020-04-05  Jefferson        Alabama   1073.0    418       9
33373 2020-04-05  Jefferson       Arkansas   5069.0     62       0
33486 2020-04-05  Jefferson       Colorado   8059.0    519      17
33559 2020-04-05  Jefferson        Florida  12065.0      1       0
33666 2020-04-05  Jefferson        Georgia  13163.0      3       0
33766 2020-04-05  Jefferson          Idaho  16051.0      4       0
33890 2020-04-05  Jefferson        Indiana  18077.0      5       0
33974 2020-04-05  Jefferson           Iowa  19101.0      3       0
34032 2020-04-05  Jefferson         Kansas  20087.0      2       0
34102 2020-04-05  Jefferson       Kentucky  21111.0    304      12
34176 2020-04-05  Jefferson      Louisiana  22051.0   3088     113
34430 2020-04-05  Jefferson    Mississippi  28063.0      3       0
34514 2020-04-05  Jefferson       Missouri  29099.0     71       2
34566 2020-04-05  Jefferson        Montana  30043.0      2       0
34700 2020-04-05  Jefferson       New York  36045.0     26       0
34890 2020-04-05  Jefferson           Ohio  39081.0     14       0
35207 2020-04-05  Jefferson      Tennessee  47089.0      6       0
35327 2020-04-05  Jefferson          Texas  48245.0     51       2
35568 2020-04-05  Jefferson     Washington  53031.0     22       0
35599 2020-04-05  Jefferson  West Virginia  54037.0     21       0
35646 2020-04-05  Jefferson      Wisconsin  55055.0     14       0

[352 rows x 6 columns]

In [5]:
data.isna().sum()

date        0
county      0
state       0
fips      518
cases       0
deaths      0
dtype: int64

In [6]:
data[data['fips'].isnull()].head()

           date         county         state  fips  cases  deaths
416  2020-03-01  New York City      New York   NaN      1       0
418  2020-03-01        Unknown  Rhode Island   NaN      2       0
448  2020-03-02  New York City      New York   NaN      1       0
450  2020-03-02        Unknown  Rhode Island   NaN      2       0
482  2020-03-03  New York City      New York   NaN      2       0

In [7]:
data[data.county=='Unknown'].head()

           date   county         state  fips  cases  deaths
418  2020-03-01  Unknown  Rhode Island   NaN      2       0
450  2020-03-02  Unknown  Rhode Island   NaN      2       0
485  2020-03-03  Unknown  Rhode Island   NaN      2       0
522  2020-03-04  Unknown  Rhode Island   NaN      2       0
569  2020-03-05  Unknown  Rhode Island   NaN      2       0

In [8]:
data = data.dropna()

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35180 entries, 0 to 35697
Data columns (total 6 columns):
date      35180 non-null object
county    35180 non-null object
state     35180 non-null object
fips      35180 non-null float64
cases     35180 non-null int64
deaths    35180 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.9+ MB

In [10]:
data[data.county=='Unknown']

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [11]:
data['date'] = pd.to_datetime(data['date'], format="%Y.%m.%d")
data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1       0
1 2020-01-22  Snohomish  Washington  53061.0      1       0
2 2020-01-23  Snohomish  Washington  53061.0      1       0
3 2020-01-24       Cook    Illinois  17031.0      1       0
4 2020-01-24  Snohomish  Washington  53061.0      1       0

In [12]:
data['date'] = data['date'].dt.to_period('D')

In [13]:
data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1       0
1 2020-01-22  Snohomish  Washington  53061.0      1       0
2 2020-01-23  Snohomish  Washington  53061.0      1       0
3 2020-01-24       Cook    Illinois  17031.0      1       0
4 2020-01-24  Snohomish  Washington  53061.0      1       0

In [14]:
selected_columns = ['deaths','cases']
data_pivot = pd.pivot_table(data, index = ["county",'state'], values=selected_columns, columns='date')
data_pivot = data_pivot.fillna(0)

In [15]:
data_pivot.head(10)

                              cases                                   \
date                     2020-01-21 2020-01-22 2020-01-23 2020-01-24
county    state
Abbeville South Carolina        0.0        0.0        0.0        0.0
Acadia    Louisiana             0.0        0.0        0.0        0.0
Accomack  Virginia              0.0        0.0        0.0        0.0
Ada       Idaho                 0.0        0.0        0.0        0.0
Adair     Iowa                  0.0        0.0        0.0        0.0
          Kentucky              0.0        0.0        0.0        0.0
          Missouri              0.0        0.0        0.0        0.0
          Oklahoma              0.0        0.0        0.0        0.0
Adams     Colorado              0.0        0.0        0.0        0.0
          Idaho                 0.0        0.0        0.0        0.0

                                                                      \
date                     2020-01-25 2020-01-26 2020-01-27 2020-01-28
county    state
Abbeville South Carolina        0.0        0.0        0.0        0.0
Acadia    Louisiana             0.0        0.0        0.0        0.0
Accomack  Virginia              0.0        0.0        0.0        0.0
Ada       Idaho                 0.0        0.0        0.0        0.0
Adair     Iowa                  0.0        0.0        0.0        0.0
          Kentucky              0.0        0.0        0.0        0.0
          Missouri              0.0        0.0        0.0        0.0
          Oklahoma              0.0        0.0        0.0        0.0
Adams     Colorado              0.0        0.0        0.0        0.0
          Idaho                 0.0        0.0        0.0        0.0

                                                  ...         deaths  \
date                     2020-01-29 2020-01-30    ...     2020-03-27
county    state                                   ...
Abbeville South Carolina        0.0        0.0    ...            0.0
Acadia    Louisiana             0.0        0.0    ...            1.0
Accomack  Virginia              0.0        0.0    ...            0.0
Ada       Idaho                 0.0        0.0    ...            0.0
Adair     Iowa                  0.0        0.0    ...            0.0
          Kentucky              0.0        0.0    ...            0.0
          Missouri              0.0        0.0    ...            0.0
          Oklahoma              0.0        0.0    ...            0.0
Adams     Colorado              0.0        0.0    ...            0.0
          Idaho                 0.0        0.0    ...            0.0

                                                                      \
date                     2020-03-28 2020-03-29 2020-03-30 2020-03-31
county    state
Abbeville South Carolina        0.0        0.0        0.0        0.0
Acadia    Louisiana             1.0        1.0        1.0        1.0
Accomack  Virginia              0.0        0.0        0.0        0.0
Ada       Idaho                 1.0        2.0        3.0        3.0
Adair     Iowa                  0.0        0.0        0.0        0.0
          Kentucky              0.0        0.0        0.0        0.0
          Missouri              0.0        0.0        0.0        0.0
          Oklahoma              0.0        0.0        0.0        0.0
Adams     Colorado              0.0        0.0        0.0        2.0
          Idaho                 0.0        0.0        0.0        0.0

                                                                      \
date                     2020-04-01 2020-04-02 2020-04-03 2020-04-04
county    state
Abbeville South Carolina        0.0        0.0        0.0        0.0
Acadia    Louisiana             1.0        1.0        1.0        2.0
Accomack  Virginia              0.0        0.0        0.0        0.0
Ada       Idaho                 3.0        3.0        3.0        3.0
Adair     Iowa                  0.0        0.0        0.0        0.0
          Kentucky              0.0        0.0        0.0        0.0
          Missouri              0.0        0.0        0.0        0.0
          Oklahoma              0.0        0.0        0.0        0.0
Adams     Colorado              6.0        7.0        9.0        9.0
          Idaho                 0.0        0.0        0.0        0.0


date                     2020-04-05
county    state
Abbeville South Carolina        0.0
Acadia    Louisiana             2.0
Accomack  Virginia              0.0
Ada       Idaho                 3.0
Adair     Iowa                  0.0
          Kentucky              0.0
          Missouri              0.0
          Oklahoma              0.0
Adams     Colorado             10.0
          Idaho                 0.0

[10 rows x 152 columns]

In [16]:
end_date = data.date.max()
n_day = 1
end_date

Period('2020-04-05', 'D')

def get_target_days(df, end, columns_name):
    months = []
    for i in range(n_months):
        pre_month = end - relativedelta(months=i)
        pre_month = pre_month.strftime('%Y-%m')
        months.append(pre_month)
    target_months = [pd.Period(month) for month in months]
    return target_months[::-1]
    return target_day

In [18]:
#deneme['deaths'][end_date]

In [ ]:
#index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [ ]:
data_pivot.plot(kind='bar');

In [ ]:
plt.plot(gm.index, gm['Adj. Close'])
plt.title('GM Stock Price')
plt.ylabel('Price ($)');
plt.show()